/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */



a#first.uk-button {
font-size: 20px;
line-height: 34px;
}

.uk-button-group {
margin-top: 30%;
}

h2.tm-overlay-title {
font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.link-callout {
    font-size: 0;
    display: none;
    padding: 18px;
    margin: 34px -34px;
    background-color: #fff8f8;
    border-left: 5px solid #e22524;
    display: block;
    clear: both;
    font-family: "Source Sans Pro";
    font-size: 16px;
    line-height: 1.6;
    color: #69656e;
}
.link-callout-info .link-callout-title a {
    color: #e22524;
}
.link-callout-info * {
    font-style: initial;
    text-transform: none;
}
.link-callout-info {
    width: 75%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 0;
}
.link-callout-excerpt {
    display: block;
    margin: 8px 0 10px;
    font-size: 14px;
    font-weight: normal;
    color: #432d2d;
}
.link-callout-link {
	color: #e22524;
}
.link-callout-image {
	float:left;
    width: 25%;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: cover;
    max-height: 120px;
}
.link-callout-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
}
.link-callout-image-container a {
	background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-indent: -9999em;
}
.tm-heading-underline {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.uk-nav-side > li > a {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}