body { 
  font-family: 'Roboto', sans-serif !important;
  padding-top: 70px;
  padding-bottom: 0px;
}

.btn{
    color: #fff !important;
}
.body-red a,.text-color {
  color: var(--main-color);
}
.border-color {
  border-color: var(--main-color);
}
.reading-box {
  position: relative;
  margin: 40px 15px;
  padding: 28px 28px 27px 31px;
  border-left: 5px solid var(--main-color);
  background-color: #FFFFFF;
  min-height: 110px;
}
.jumbotron {
  min-height: 350px;
  position: relative;
}
.jumbotron .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-top: -29px;
  margin-left: -121px;
  min-width: 241px;
  z-index: 2;
}
.container-wide{
  width:75%;
  margin-left: 10%;
}
label {
  margin-bottom: 0px;
}
.navbar-brand{
  height: 100%;
  display: block;
  float: none;
}
.nav>li>a {
  font-size: 31px;
}
@media (min-width: 768px){
  .navbar-nav>li>a {
      padding-top: 25px;
      padding-bottom: 25px;
  }
}
.jumbotron h1{
  color: #fff;
  font-size: 29px;
  z-index: 2;
  position: relative;
  /*text-shadow: 2px 1px 7px rgb(255, 255, 255);*/
}
.jumbotron p{
  color: #fff;
  z-index: 2;
  position: relative;
  /*text-shadow: 1px 1px 2px rgb(255, 255, 255);*/
}
.header-sec{
  color: #e64158;
  padding-left: 15px;
}
.jumbotron:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index:1;
}
.footer-inverse {
  padding-top: 20px;
  min-height: 70px;
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
}
@media (min-width: 1200px){
  .container {
      width: 1000px !important;
      max-width: 1000px !important;
  }
}
.fa-star{
  color: yellow;
}
.fa-bars{
  margin-top: 30%;
}
.testimonials{
  font-size: 20px;
  display: block;
  text-align: center;
  color: #848484;
}
.navbar{
  min-height: 100px;
}
.headline {
    padding-bottom: 1px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    line-height: 50px;
}
.headline span {
    padding-bottom: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
h2.headline span {
    padding-bottom: 8px;
}
h3.headline span {
    padding-bottom: 12px;
}
.logo-jum{
  width: 10%;
  height: auto;
  z-index: 2;
  position: relative;
}

h1 {
    font-size: 30px;
}
.services-item i {
    float: left;
    margin: 20px 15px 0 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.fa-2x {
    font-size: 2em;
}
.services-item-desc {
    overflow: hidden;
}
.margin-top-70{
  margin-top: 70px;
}
.nopadding {
  padding: 0px !important;
  margin: 0px !important;
}

.thumbnail {
  text-align: center;
  border: 0px !important; 
}
.btn-info {
    color: #fff!important;
}

.btn-fullwidth {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.features p {
    line-height: 1.7;
}
.features h3 {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 50px;
}
.nomargin-bottom{
  margin-bottom: 0px !important;
}
.backtotop {
    background: #666;
    padding: 10px 15px;
    font-size: 18px;
    color: #FFF;
    border-radius: 3px;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}
#topcontrol{
  margin-bottom: 20px;
  margin-right: 50px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  cursor: pointer;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
    font-size: 65%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: 400;
    line-height: 1;
    color: #999;
}
.headline span a {
  text-decoration: none;
}
.topic {
    margin-top: -20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;
    text-align: right;
}
.topic h3 {
    display: inline-block;
    padding: 20px 0 20px;
    margin: 0 0 -1px 0;
    font-size: 20px;
}
.topic .breadcrumb {
    margin-bottom: 0;
    padding: 21px 0;
    background: transparent;
}
.pull-right {
    float: right!important;
}
.headlinecta {
    margin: 85px 0 55px 0;
    /*padding: 5px 0 5px 0;*/
    border-top: #e0e3e6 1px solid;
    border-bottom: #e0e3e6 1px solid;
    border-right: #e0e3e6 1px solid;
    font-size: 20px;
    background-position: center center;
    background-size: cover;
}
.text-center {
    text-align: center;
}
.headlinecta p {
    margin-top: 28px;
    display: inline;
    margin-right: 30px;
}
.headlinecta .btn {
    margin: 8px 0;
}
.divider{
  height: 30px !important;
}
.features2 img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.features2 .border-bottom {
    border-bottom: 1px solid #dedede;
}
.ninja{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.ninja-white{
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.dropdown-menu {
  background-color: #222 !important;
  height: auto;
  max-height: 403px;
  overflow-x: hidden;
}
@media (max-width: 768px){
  .ninja{
    display: none;
  }
  .dropdown-menu {
    min-width: 293px !important;
    max-height: 480px !important;
  }
  .navbar-brand>img{
    width: 100%;
  }
  .jumbotron {
    padding-top: 90px;
  }
}
@media (max-width: 1024px) and (min-width: 768px){
  .logo{
    width:79%;
  }
}
.dropdown-menu>li>a {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  height: 1px !important;
  background-color: #080808;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: transparent !important;
}
.caption h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.caption p{
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  /*height fixed for all screens*/
  height:40px;
}
.thumbnail>img {
    display: block;
    width: 285px !important;
    height: 178px !important;
}
.logo{
  margin-top: 4%;
  margin-left: 3%;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fefefe;
}
.dropdown-toggle{
  margin-bottom: 10px;
}